.Home {
	width: 800px;
	margin: 20px auto;
	display: flex;
	align-items: center;
}
.Table {
	margin: 0 auto
}


@media (max-width: 800px) {
	.Home {
		width: 100vw
	}
	.Home input {
		width: 110px;
	}
}

@media (max-width: 550px) {
	.Home input {
		width: 20vw;
	}
}