.Button{
	height: 25px;
	width: 90px;	
	padding: 4px;
	margin-left: 5px;
	color: white;
	border-radius: 2px;
	border: none;
	transition: 0.4s ease;
}

.Button:hover {
	transform: translateY(3px)
}
.Button:focus{
	outline: none;
}

.Delete {
	background-color: rgb(185, 17, 17)
}
.Edit {
	background-color: rgba(3, 3, 214, 0.986)
}
.Add {
	background-color: rgb(3, 145, 3)
}